.wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.typing-box {
    position: absolute;
    width: 70vw;
    height: 5rem;
    font-size: calc(10px + 2vmin);
    border-radius: 1rem;
    color: transparent;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}