.test-wrapper {
    display: flex;
    width: 60vw;
    overflow: hidden;
    position: fixed;
    top: 50vh;
    left: 20vw;
}

.space {
    min-width: 1rem;
}

.incorrect-overflow {
    color: red;
}